<div class="settings-container">
  <mat-form-field class="full-width">
    <mat-select placeholder="Language" [formControl]="languageControl">
      <mat-option *ngFor="let language of languagesList" [value]="language">
        {{ language | titlecase }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput [formControl]="numOfWordsControl" placeholder="Number of words">
  </mat-form-field>

  <button mat-raised-button color="primary">
    Save
    <mat-icon>save</mat-icon>
  </button>
</div>
