<h3 mat-dialog-title>Add new word</h3>
<mat-dialog-content>
  <form [formGroup]="entry">
    <mat-form-field class="full-width">
      <input matInput placeholder="Word" formControlName="word" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Translation" formControlName="translation" required>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button [mat-dialog-close] color="warn">Cancel</button>
  <button mat-button [disabled]="entry.invalid" [mat-dialog-close]="entry.getRawValue()" color="primary">Add</button>
</mat-dialog-actions>
